[connection]
username = 12345_12345
password = keepmesecret
# The Hipchat's server name
host = conf.hipchat.com
# Muc Domain
muc_domain = conf.hipchat.com
nickname = Hippy Bot
channels = Hippy Bot's Room
           test
           My Room
# a list of plugins that should be loaded from a list of directories.
[plugins]
load = rot13
       mexican_wave

load_path = /absolute/path/plugins
	hippybot/plugins
	plugins
	another/relative/path

[hipchat]
api_server = api.hipchat.com
api_auth_token = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
respond_to_all = true
